<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>


body {
  font-family: Arial, Helvetica, sans-serif;
 
}

 /* API Setting */
#api {
  background-color:rgba(14, 65, 102, 0.86);
  padding: 50px 0;
  text-align: center;
}



.api-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.api-images img {
  width: 300px;
  margin: 0 10px;
}
  /* Wrapper Stylings */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.about-us, .mission-statement {
  width: 48%;
 
}
  /* Add any additional styles for each section */



.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  font-family: arial;
  background-color: #f5f5f5;
  padding: 20px;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}


.card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}


.card:hover {
  transform: translateY(-10px);
}



.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.hero-image {
  position: relative;
  text-align: center;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.hero {
  position: relative;
  height: 500px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../Images/office.png');
  background-size: auto 100%;
  background-position: center;
  
}

section {
  margin: 20px 0;
}



.hero-content {
  position: relative;
  z-index: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  color: #fff;
}

h1{
  padding: 30px;
  text-align: center;
  font-size: 70px;
  color: black;

}

h2{
    text-align: center;
    color: black;
}
  
  
/* Style the header */
header {

  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
} 
/*7893AC*/



article {
  float: left;
  padding: 20px;
  width: 70%;

  height: 200px;
}



/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}



p {
    color: black;
}


/* Set the background color of the footer */
.footer-clean {
  background-color: rgba(14, 65, 102, 0.86);
  padding-top:20px;
    padding-bottom: 20px;
  
}


/* Remove the bullet points from the list */
.footer-clean ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Set the color of the links in the footer */
.footer-clean a {
  color: #212529;
  text-decoration: none;

}

/* Add some margin between the items in the footer */
.footer-clean .item {
  margin-bottom: 20px;
}

/* Set the color and size of the copyright text */
.footer-clean .copyright {
  font-size: 14px;
  color: #6c757d;
}



</style>

<script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta&family=Open+Sans&display=swap" rel="stylesheet">
    <title>About Us</title>
  </head>


     <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SpeakEasy!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about" style="display: inline-block;">About Us</a>
          <a class="nav-link" href="/signUp" style="display: inline-block; margin-right: 10px;">Sign Up for Premium</a>
          <a class="nav-link" href="/log" style="display: inline-block; margin-right: 10px;">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <body>
    
    {{!-- HeroImage --}}
    <section class="hero">
  <div class="hero-image">
    
  </div>
  <div class="hero-content">
    <h1>About Us</h1>

  </div>
</section>
    
    <main>
<div class="wrapper">
<div class="about-us">
      <section id="hero">
        <h2>Why we are Passionate!</h2>
        <p>We believe that anything is possible when businesses want to present their ideas to the world. We’re committed to facilitating communication across international borders by making quality translation services easy and quick. Our purpose is to break through language and cultural barriers by bridging the gap between international commerce and our customers’ global ventures. We strive for the highest customer satisfaction by working with a team of professionals who are dedicated to providing innovative language solutions while using the latest cutting-edge technology. We are individuals who are passionate about business, communications, design, and cultural diversity. We are devoted to our staff by providing an engaging, productive and fun work environment. We believe when we provide value for our customers, our shareholders will be rewarded with profits. We will be committed to partnering with organizations around the globe to support initiatives and programs that we believe respond to local and global needs.

</p>
</div>
</section>


  <div class="mission-statement">
    {{!-- just writing something --}}
     
      {{!-- Mission --}}
      <section id="mission">
        <h2>Our Mission</h2>
        <p>Our mission is to create a language translation application that breaks down language barriers and promotes communication and understanding among people of different languages and cultures. We are committed to providing accurate and reliable translations that empower users to connect with one another, share ideas, and access information regardless of their native language. Our goal is to leverage the latest advancements in natural language processing and machine learning technology to deliver a user-friendly and seamless experience that enhances global communication and promotes cross-cultural collaboration.</p>
      </section>
        </div>
</div>

{{!-- APis --}}
      <section id="api">
  <h2>API</h2>
  <p>Rapid Translate Multi Traduction API</p>


  <div class="api-images">
    <img src="../Images/t13.png" alt="API 1">
   
  </div>
</section>

      {{!-- Team Section --}}
        <section id="team">
  <h2>Meet Our Team</h2>
  <div class="card-container">
    <div class="card">
      <img src="../Images/Junior.jpg" alt="Team Member 1">
      <h3>Junior</h3>
      <p>Back-end Developer</p>
    </div>
    <div class="card">
      <img src="../Images/ALvaro.jpg" alt="Team Member 2">
      <h3>Alvaro</h3>
      <p>Front-end Developer</p>
    </div>
    <div class="card">
      <img src="../Images/Miguel.jpg" alt="Team Member 3">
      <h3>Miguel</h3>
      <p>Back-end Developer</p>
    </div>
    <div class="card">
      <img src="../Images/Breana.jpg" alt="Team Member 4">
      <h3>Breana Young</h3>
      <p>Front-end Developer</p>
    </div>
  </div>
</section>

      {{!-- Our Start/Journey --}}

     

      <section id="Our Start">
        <h2>Our Journey</h2>
        <p>We created a language translation application to decrease language barriers and promote global communication. We worked hard to research, test and debug the code, and succeeded in creating an accurate, reliable, and user-friendly translation app. Despite facing challenges,we remained committed to our project, and our hard work paid off with success.</p>
        
      </section>  
    </main>
    {{!-- 
Footer --}}
<div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        {{!-- <h3>About</h3> --}}
                        <ul>
                            <li><a href="/about">About Us</a></li>
                        </ul>
                    </div>
                      <div class="col-sm-4 col-md-3 item">
                        {{!-- <h3>Create an Account</h3> --}}
                        <ul>
                            <li><a href="/SignUp">Sign up for Premium</a></li>
                        </ul>
                    </div>
                        <p class="copyright">SpeakEasy! @ 2023</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<<<<<<< HEAD
  <script src="/app.js"></script>
 
=======
  <script src="app.js"></script>


>>>>>>> Breana
</html>

    
