{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Home Page</title>
</head> --}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <title>SpeakEasy</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SpeakEasy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<header>
  <div class="absolute-center">
    <h1>SpeakEasy</h1>
    <p>Welcome to our language translator application! In today's connected world, communication is key, and our app is designed to help you break down language barriers and connect with people from all around the world. With our powerful translation technology, you can translate text and voice from one language to another in just seconds. Whether you're traveling, studying, or working with people from different countries, our app has accurate and efficient translation. Please explore the amazing features our app has to offer and start communicating with the world!</p>
  </div>
<header>


    <div class="mode">
      <label class="toggle" for="dark-mode-btn">
        <div class="toggle-track">
          <input type="checkbox" class="toggle-checkbox" id="dark-mode-btn" />
          <span class="toggle-thumb"></span>
          <img src="images/sun.png" alt="" />
          <img src="images/moon.png" alt="" />
        </div>
      </label>
    </div>
    <div class="container">
      <div class="card input-wrapper">
        <div class="from">
          <span class="heading">From :</span>
          <div class="dropdown-container" id="input-language">
            <div class="dropdown-toggle">
              <ion-icon name="globe-outline"></ion-icon>
              <span class="selected" data-value="auto">Auto Detect</span>
              <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
            <ul class="dropdown-menu">
              <li class="option active">DropDown Menu Item 1</li>
              <li class="option">DropDown Menu Item 2</li>
            </ul>
          </div>
        </div>
        <div class="text-area">
          <textarea
            id="input-text"
            cols="30"
            rows="10"
            placeholder="Enter your text here"
          ></textarea>
          <div class="chars"><span id="input-chars">0</span> / 5000</div>
        </div>
        <div class="card-bottom">
          <p>Or choose your document!</p>
          <label for="upload-document">
            <span id="upload-title">Choose File</span>
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <input type="file" id="upload-document" hidden />
          </label>
        </div>
      </div>

      <div class="center">
        <div class="swap-position">
          <ion-icon name="swap-horizontal-outline"></ion-icon>
        </div>
      </div>

      <div class="card output-wrapper">
        <div class="to">
          <span class="heading">To :</span>
          <div class="dropdown-container" id="output-language">
            <div class="dropdown-toggle">
              <ion-icon name="globe-outline"></ion-icon>
              <span class="selected" data-value="en">Englsih</span>
              <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
            <ul class="dropdown-menu">
              <li class="option active">DropDown Menu Item 1</li>
              <li class="option">DropDown Menu Item 2</li>
            </ul>
          </div>
        </div>
        <textarea
          id="output-text"
          cols="30"
          rows="10"
          placeholder="Translated text will appear here"
          disabled
        ></textarea>
        <div class="card-bottom">
          <p>Download as a document!</p>
          <button id="download-btn">
            <span>Download</span>
            <ion-icon name="cloud-download-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>


<div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                        <p class="copyright">SpeakEasy @ 2023</p>
                    </div>
                </div>
            </div>
        </footer> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


    {{!-- <script src="languages.js"></script>
    <script src="script.js"></script> --}}
  </body>
</html>
{{!-- <body> --}}
  
{{!-- <header>
  <div class="absolute-center">
    <h1>SpeakEasy</h1>
    <p>Welcome to our language translator application! In today's connected world, communication is key, and our app is designed to help you break down language barriers and connect with people from all around the world. With our powerful translation technology, you can translate text and voice from one language to another in just seconds. Whether you're traveling, studying, or working with people from different countries, our app has accurate and efficient translation. Please explore the amazing features our app has to offer and start communicating with the world!</p>
  </div>
<header> --}}

{{!-- <h1>SpeakEasy! (home.handlbar)</h1>
<p>{{stuff}}</p> 

    <div class="row-1 row"></div>
    <div class="row-2 row"></div>
    <div class="row-3 row"></div>
    <div class="row-4 row"></div>
    <div class="row-5 row"></div>
    <div class="row-6 row"></div>
    <div class="row-7 row"></div>
    <div class="row-8 row"></div>
    <div class="row-9 row"></div>
    <div class="row-10 row"></div> --}}

{{!-- <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                        <p class="copyright">SpeakEasy @ 2023</p>
                    </div>
                </div>
            </div>
        </footer> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> --}}
{{!-- </body>
</html> --}}

