<form>
    <p>From: <select name="transFrom"></select></p>
    <textarea placeholder="user text input" id="userInput"></textarea>

    <p>To: <select name="transTo"></select></p>
    <textarea placeholder="translated output" id="transOutput"></textarea>

    <input type="button" value="Translate" id="button1">
</form>

